<nz-layout>
    <nz-contet>
        <div class="inner-content">
            <div nz-row>
                <div nz-col nzSpan="14" nzOffset="5">
                    <h1>Hossein Todos</h1>
                    <app-todo-form></app-todo-form>
                    <nz-list nzItemLatout="horizontal">
                        <nz-list-item *ngFor="let todo of todos | async">
                            <ng-container>
                                <ng-tag [nzColor]="cyan">{{todo.title}}</ng-tag>
                            </ng-container>
                        </nz-list-item>
                    </nz-list>
                </div>
            </div>
        </div>
    </nz-contet>
</nz-layout>